* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  min-height: 100%;
}

.container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.header {
  grid-area: header;
  background-color: burlywood;
}
.nav {
  grid-area: nav;
  background-color: rgba(222, 222, 161, 0.614);
   
  
}
.main {
  grid-area: main;
  background-color: rgb(2, 35, 100);
}
.article {
  grid-area: article;
  background-color: rgba(185, 248, 232, 0.683);
}
.footer {
  grid-area: footer;
  background-color: rgba(46, 45, 43, 0.395);
}
.container  {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template-areas:
    "header header header header header"
    "nav nav nav nav nav"
    "main main main main article"
    "footer footer footer footer footer";
}
@media screen and (max-width: 600px) {
  .container {
    display: grid;    
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:   
    "header"
    "nav"
    "main"
    "article"
    "footer";
  }
}
/*estilod de la pagina experiencias*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto) ;
  gap: 10px;
  grid-template-areas: 
  "  .   tarj1   .  "
  "tarj2 tarj1 tarj3"
  "tarj2 tarj4 tarj3"
  "  .   tarj4  .   ";
}
.tarjeta {
  background-color: rgba(49, 49, 176, 0.352);
  padding: 10%;
  border: 0.5px solid lightblue; 
  border-top: 5px solid lightblue;  
  border-radius: 10%;
  box-shadow: -1px 1px 7px 0px rgba(163, 211, 239, 0.75);

}
.tarjeta:nth-of-type(1) {
  grid-area: tarj1;
}
.tarjeta:nth-of-type(2) {
  grid-area: tarj2;
}
.tarjeta:nth-of-type(3) {
  grid-area: tarj3;
}
.tarjeta:nth-of-type(4) {
  grid-area: tarj4;
}
/*Aqui hay una numacion*/
h2 {
  padding: 3%;
  color: lightblue;
}
.tarjeta-img {
  box-shadow: -1px 1px 7px 0px rgba(163, 211, 239, 0.75);
  border: 1px solid rgba(163, 211, 239, 0.75);
  border-top: 2px solid lightblue;
  border-radius: 10%;

}
.tarjeta-img:hover {
  box-shadow: -1px 5px 5px 5px rgba(210, 227, 237, 0.75); 
 
}
.tarjeta-titulo {
  padding: 3%;
  color: lightblue;
}