* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  min-height: 100%;
}

.container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.header {
  grid-area: header;
  background-color: burlywood;
}
.nav {
  grid-area: nav;
  background-color: rgba(222, 222, 161, 0.614);
   
  
}
.main {
  grid-area: main;
  background-color: rgb(2, 35, 100);
 
}
.article {
  grid-area: article;
  background-color: rgba(185, 248, 232, 0.683);
}
.footer {
  grid-area: footer;
  background-color: rgba(46, 45, 43, 0.395);
}
.container  {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template-areas:
    "header header header header header"
    "nav nav nav nav nav"
    "main main main main article"
    "footer footer footer footer footer";
}
@media screen and (max-width: 600px) {
  .container {
    display: grid;    
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:   
    "header"
    "nav"
    "main"
    "article"
    "footer";
  }
}
/*estilod de la pagina experiencias*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 0.8fr);
  grid-template-rows: repeat(4, 0.6fr) ;
  gap: 10%;
  grid-template-areas: 
  "  .   tarj1   .  "
  "tarj2 tarj1 tarj3"
  "tarj2 tarj4 tarj3"
  "  .   tarj4  .   ";
}
.tarjeta {
  background-color: rgba(49, 49, 176, 0.352);
  padding: 10%;
  border: 0.5px solid lightblue; 
  border-top: 5px solid lightblue;  
  border-radius: 10%;
  box-shadow: -1px 1px 7px 0px rgba(163, 211, 239, 0.75);

}
.tarjeta:nth-of-type(1) {
  grid-area: tarj1;
}
.tarjeta:nth-of-type(2) {
  grid-area: tarj2;
}
.tarjeta:nth-of-type(3) {
  grid-area: tarj3;
}
.tarjeta:nth-of-type(4) {
  grid-area: tarj4;
}
/*Aqui hay una animacion*/
h2 {
  padding-bottom: 10%;  
  color: lightblue;
}
.tarjeta-img {
  box-shadow: -1px 1px 7px 0px rgba(163, 211, 239, 0.75);
  border: 1px solid rgba(163, 211, 239, 0.75);
  border-top: 2px solid lightblue;
  border-radius: 10%;
  width:60%;
  height: 60%;

}
.tarjeta-img:hover {
  box-shadow: -1px 5px 5px 5px rgba(210, 227, 237, 0.75); 
 
}
.tarjeta-titulo {
  
  font-size: smaller;
  padding: 5%;
  color: lightblue;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  h2 {
    padding-bottom: 2%;
  }

}
/*Estilos del formulario*/
.form {
  color: lightblue;
  padding: 2px;
  margin:2px 5px 5px;
} 
input {
  width: 20%;  
  margin: 10px ;
  bottom: border-box; 
}
fieldset{
  margin: 5%;
}
label {
 margin: 2%;
 padding: 1%;  
}
legend {
  margin-bottom: 3%;
}
input:focus{
  background-color: lightblue;
  padding: 10px;
}
input:hover{
  padding: 10px;
  transition: 0.5s;
}
 .radio {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 input[type=submit] {
  padding: 5px;
}  
input[type=submit]:hover {
  padding: 10px;}
input[type=submit]:focus {
    padding: 15px;
    transition: 0.7s;
    background-color: rgb(234, 45, 202);
  }
  
  

 
