* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2em;
  min-height: 100%;
}

.container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.header {
  grid-area: header;
  background-color: burlywood;
}
.nav {
  grid-area: nav;
  background-color: rgba(222, 222, 161, 0.614);
   
  
}
.main {
  grid-area: main;
  background-color: rgba(3, 100, 100, 0.408);
}
.article {
  grid-area: article;
  background-color: rgba(185, 248, 232, 0.683);
}
.footer {
  grid-area: footer;
  background-color: rgba(46, 45, 43, 0.395);
}
.container  {
  display: grid;
  gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: 10% 10% 60% 20%;
  grid-template-areas:
    "header header header header header"
    "nav nav nav nav nav"
    "main main main main article"
    "footer footer footer footer footer";
}
@media screen and (max-width: 600px) {
  .container {
    display: grid;    
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:   
    "header"
    "nav"
    "main"
    "article"
    "footer";
  }
}

